@import './mixins';
$box_height: 70px;

.color-boxes {
  @include flex;
  @include justify-content(space-evenly);
  @include flex-wrap(wrap);
  overflow: hidden;
  text-align: center;
}

.exp-wrapper {
  @extend .color-boxes;
  .exp-img {
    max-width: 40%;
    border: 1px dashed black;
    margin: 20px;
    @media screen and (max-width: 600px) {
      max-width: 90%;
    }
    .exp-text {
      padding: 20px;
    }
  }
}



.back-to-org-image {
  @include flex;
  @include justify-content(center);
  @extend .color-box;
  & > span {
    width: 100%;
    height: $box_height / 5;
    display: block;
  }
}
.color-box {
  display: inline-block;
  cursor: pointer;
  height: $box_height;
  overflow: hidden;
  text-align: center;
  width: 70px;
  @media screen and (max-width: 600px) {
    width: 13%;
  }
}

#white, .white {
  background-color: #f9eff8;
}

#darkGreen, .dark-green {
  background-color: #53625e;
}

#orange, .orange {
  background-color: #df7158;
}

#blue, .blue {
 background-color: #4d7cb2;
}

#yellow, .yellow {
 background-color: #f3c676;
}
