<style>
body {
  height: 10000px!important;
}
.site-title, header, footer, .hilsen-pagination, .blog-footer, .go-to-top {
  display: none!important;
}
#container, #background {
  position: absolute;
  height: 10000px;
  width: 100%;
  left: 0; 
  top: 0;
  overflow: hidden;
}
#background {
  z-index: 9;
  background: rgb(139,0,255);
  background: linear-gradient(180deg, rgba(139,0,255,1) 0%, rgba(9,9,121,1) 35%, rgba(216,242,255,1) 100%);
}
#container {
  z-index: 9999;
}

#house, #hills {
  position: absolute;
}

#hills {
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 9;
  min-height: 380px;
}
#house {
  bottom: 50px;
  left: 15%;
  width: 30%;
  min-width: 200px;
  z-index: 99;
}

/* FORMEL */

#back, #info {
  position: fixed;

}

</style>
