<footer class="site-footer h-card">
  <div class="wrapper">
	<h3>Kontakt:</h3>
        <ul class="contact-list">
          <li>
						Mail: <a class="u-email blue-highlight" href="mailto:{{ site.email }}">{{ site.email }}</a>
					</li>
          <li>
						Tlf. nr.: (+45) 42 64 58 98
					</li>
					<li>
						<a class="blue-highlight" href="https://github.com/peterhoejlundandersen" target="_blank">Github</a>
					</li>
					<li>
						CVR nr.: 35 70 23 18 
					</li>
					<li>
					<li>
						Ejet af: Peter Højlund Andersen
					</li>
					<li class="cookie-free" data-open-this="js-cookie-free">
						Cookie-free domain 
						<p class="js-cookie-free hide-it">
							Betyder, at der ikke bliver indsamlet/gemt oplysninger på dig, når du besøger siden. 
							<br>
							Det betyder også, at der ikke foregår nogen databehandling (Google Analytics, Heatmap Analytics etc.). Så hvis du har nogle kommentarer/rettelser, ris og ros, så er du meget velkommen til at skrive en gammeldags email til mig.
						</p>
					</li>
        </ul>
    </div>
  </div>

</footer>
