<head>
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon-96x96.png">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  {% if page.jquery %}
    <script type="text/javascript"
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <script type="text/javascript"
      src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
      integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
    crossorigin="anonymous"></script>
  {% endif %}
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
	{% if page.seocontent && page.seoimage %}
	<meta property="og:description" content="{{ page.seocontent }}"/>
	<meta property="og:image" content="{{ page.seoimage }}"/>
	{% endif %}
  {% if page.enableMenu %}
    <script src="/assets/js/set_menu.js"></script> 
  {% endif %}
  {% if page.jsfile %}
    <script src="/assets/js/{{ page.jsfile }}.js"></script>
  {% endif %}
	{% if page.title %}
		<title>Hilsen IT | {{page.title}}</title>
	{% else %}
		<title>Hilsen IT</title>
	{% endif %}
</head>
