<div class="table">
  <div class="table-cell">
    <div class="table-head">Åbenhed</div>
    <div class="table-row">Kan du lide nye oplevelser?</div>
  </div>
  <div class="table-cell">
    <div class="table-head">Ordentlighed</div>
    <div class="table-row">Foretrækker du orden, vaner og planlægning? </div>
  </div>
  <div class="table-cell">
    <div class="table-head">Udadvendthed</div>
    <div class="table-row"> Kan du lide at bruge tid sammen med andre? Hvor social er du? </div>
  </div>
  <div class="table-cell">
    <div class="table-head">Grad af enighed</div>
    <div class="table-row"> Sætter du andre menneskers behov foran dine egne?</div>
  </div>
  <div class="table-cell">
    <div class="table-head">Neurotiskhed</div>
    <div class="table-row">Bekymrer du dig?</div>
  </div>
</div>
