<div class="shorcuts">
	<div class="in-finder">
		<p>I Finder:</p>
		<div class="box-wrap">
			<span class="box small">PILETASTERNEZ</span><span class="use">Naviger i dine filer</span>
		</div>
		<div class="box-wrap">
			<span class="box small">CMD + DOWN ARROW</span><span class="use">Åben valgte</span>
		</div>
		<div class="box-wrap">
			<span class="box small">CMD + UP ARROW</span><span class="use">Gå en tand op i din Folder-structure</span>
		</div>
		<div class="box-wrap">
			<span class="box small">CMD + (1, 2, 3, 4)</span><span class="use">Skift visning af dine filer</span>
		</div>
		<div class="box-wrap">
			<span class="box small">CMD + DELETE</span><span class="use">Slet valgte</span>
		</div>
		<div class="box-wrap">
			<span class="box small">CMD + SHIFT + DELETE</span><span class="use">Tøm Papirskurven</span>
		</div>
		<div class="box-wrap">
			<span class="box small">ALT + UP ARROW/DOWN ARROW</span><span class="use">Hop til øverste/nederste</span>
		</div>
		<div class="box-wrap">
			<span class="box small">CMD + CTRL + 1/3</span><span class="use">Sorter efter navn/sidst redigeret</span>
		</div>
		<div class="box-wrap">
			<span class="box small">CMD + F</span><span class="use">Søg</span>
		</div>
		<div class="box-wrap">
			<span class="box small">CMD+SHIFT+D</span><span class="use">Åbner Skrivebordet i Finder</span>
		</div>
		<div class="box-wrap">
			<span class="box small">CMD+OPTION+L</span><span class="use">Åbner Overførsler</span>
		</div>
		<div class="box-wrap">
			<span class="box small">CMD+SHIFT+A</span><span class="use">Åbner Programmer</span>
		</div>
		<div class="box-wrap">
			<span class="box small">CMD + C & CMD + V</span><span class="use">Du kender dem!</span>
		</div>
	</div>
	<div class="in-finder general">
		<p>Mere generelt:</p>
		<div class="box-wrap">
			<span class="box small">CMD + TAB</span><span class="use">Naviger i dine programmer (hold CMD inde)</span><br>
			- <span class="box smaller">CMD + W</span><span class="use small">(imens) Luk et program-vindue</span><br>
			- <span class="box smaller">CMD + Q</span><span class="use small">(imens) Luk programmet</span><br>
		</div>
		<div class="box-wrap">
			<span class="box small">CMD + SPACE</span><span class="use">Åbner dit Spotlight søgefelt, som giver dig hurtigt adgang til programmer og filer.</span><br>
			<span class="smaller">(Skal i nogle tilfælde indstilles under System Preferences > Keyboard > Spotlight)</span><br>
			- <span class="box smaller">CMD imens du trykker ENTER</span><span class="use small">Vis hvor det du åbner ligger i Finder</span>
		</div>
		<div class="box-wrap">
			<span class="box small">CMD + $</span><span class="use">Skift mellem program-vinduer</span><br>
			<span class="smaller">(Skal indstilles under System Preferences > Keyboard > Keyboard > Move focus to next window)</span><br>
		</div>
		<div class="box-wrap">
			<span class="box small">CMD + ALT + ESC</span><span class="use">Åbner Afbryd programmer, hvor du har mulighed for at lukke et program, hvis det fryser.</span>
		</div>

	</div>
	<div class="in-finder general">
		<p>I Chrome</p>
		<div class="box-wrap">
			<span class="box small">CMD + T</span><span class="use">Åbner en ny fane</span>
		</div>
		<div class="box-wrap">
			<span class="box small">CMD + ALT + LEFT ARROW/RIGHT ARROW</span><span class="use">Forrige/næste fane</span>
		</div>

		<div class="box-wrap">
			<span class="box small">CMD + L</span><span class="use">Gå til søgefelt</span>
		</div>

		<div class="box-wrap">
			<span class="box small">CMD + R</span><span class="use">Reload side</span>
		</div>

		<div class="box-wrap">
			<span class="box small">CMD + N</span><span class="use">Åbner nyt vindue</span>
		</div>

		<div class="box-wrap">
			<span class="box small">CMD + F</span><span class="use">Søg på siden</span><br>
			- <span class="box smaller">ENTER</span><span class="use small">(imens) Gå til næste </span><br>
			- <span class="box smaller">SHIFT + ENTER</span><span class="use small">(imens) Gå til forrige</span>
		</div>

		<div class="box-wrap">
			<span class="box small">FN + UP ARROW/DOWN ARROW</span><span class="use">Scroll et helt vindue op eller ned</span>
		</div>

		<div class="box-wrap">
			<span class="box small">CMD + Y</span><span class="use">Gå til historik</span>
		</div>

		<div class="box-wrap">
			<span class="box small">CMD + SHIFT + T</span><span class="use">Åbn sidst lukkede fane/faner</span>
		</div>

		<div class="box-wrap">
			<span class="box small">CMD + ,</span><span class="use">Åbn indstillinger</span>
		</div>

		<div class="box-wrap">
			<span class="box small">CMD + SHIFT + M</span><span class="use">Skift konto, hvis du som mig har forskellige Gmail kontoer.</span>
		</div>

		<p class="small">Web development:</p>
		<div class="box-wrap">
			<span class="box small">CMD + ALT + J</span><span class="use">Åbn Chrome Development Tool</span>
		</div>
		<div class="box-wrap">
			<span class="box small">CMD + ALT + U</span><span class="use">Åbn hjemmesidens Source</span>
		</div>
		<p class="small">FIF: Installer <a href="https://chrome.google.com/webstore/detail/google-search-navigator/cohamjploocgoejdfanacfgkhjkhdkek" target="_blank">Google Search Navigator</a> hvis du vil gå gennem Google søgeresultater med piletasterne.</p>
	</div>
</div>
