I Finder:

| Knapper | Funktion |
|:--------|:-------:|
| PILETASTERNE | Naviger i dine filer |
| CMD + DOWN ARROW | Åben valgte |
| CMD + UP ARROW | Gå en tand op i din folder-structure |
| CMD + (1, 2, 3, 4) | Skift visning af dine filer |
| CMD + DELETE | Slet valgte |
| CMD + SHIFT + DELETE | Tøm Papirskurven |
| ALT + UP ARROW/DOWN ARROW | Hop til øverste/nederste |
| CMD + CTRL + 1/3 | Sorter efter navn/sidst redigeret |
| CMD + F | Søg |
| CMD+SHIFT+D | Åbner Skrivebordet i Finder |
| CMD+OPTION+L | Åbner Overførsler |
| CMD+SHIFT+A | Åbner Programmer |
| CMD + C & CMD + V | Du kender dem! |

Mere generelt:

| Knapper | Funktion |
|:--------|:-------:|
| CMD + TAB | Naviger i dine programmer (hold CMD inde) |
| <sub>(imens) CMD + W</sub> | <sub>Luk et program-vindue</sub> |
| <sub>(imens) CMD + Q</sub> | <sub>Luk programmet</sub> |
| CMD + SPACE | Åbner dit Spotlight søgefelt, som giver dig hurtigt adgang til programmer og filer. (Skal i nogle tilfælde indstilles under System Preferences > Keyboard > Spotlight) |
| <sub>(imens) CMD</sub> | <sub>Åbner mappen med filen istedet for at åbne filen</sub> |
| CMD + $ | Skift mellem program-vinduer (Skal indstilles under System Preferences > Keyboard > Keyboard > Move focus to next window |
| CMD + ALT + ESC | Åbner Afbryd programmer, hvor du har mulighed for at lukke et program, hvis det fryser. |

I Chrome:

| Knapper | Funktion |
|:--------|:-------:|
| CMD + T | Åbner en ny fane |
| CMD + ALT + LEFT ARROW/RIGHT ARROW | Forrige/næste fane |
| CMD + L | Gå til søgefelt |
| CMD + R | Reload side |
| CMD + N | Åbner nyt vindue |
| CMD + F | Søg på siden |
| <sub>(imens) ENTER</sub> | <sub>Gå til næste</sub>  |
| <sub>(imens) SHIFT + ENTER</sub> | <sub>Gå til forrige</sub> |
| FN + UP ARROW/DOWN ARROW | Scroll et helt vindue op eller ned |
| CMD + Y | Gå til historik |
| CMD + SHIFT + T | Åbn sidst lukkede fane/faner |
| CMD + , | Åbn indstillinger |
| CMD + SHIFT + M | Skift konto, hvis du som mig har forskellige Gmail kontoer. |

Web development i Chrome:

| Knapper | Funktion |
|:--------|:-------:|
| CMD + ALT + J | Åbn Chrome Development Tool |
| CMD + ALT + U | Åbn hjemmesidens Source |

> **Fif 1:** Installer <a href="https://chrome.google.com/webstore/detail/google-search-navigator/cohamjploocgoejdfanacfgkhjkhdkek" target="_blank">Google Search Navigator</a> hvis du vil gå gennem Googles søgeresultater med piletasterne.
