/* ALL STYLE FOR POSTS/POST*/

.post-link {
	color: black!important;
}

.hilsen-pagination {
	height: 50px;
}
h2 {
	padding-top: 50px;
}

h3 {
	padding-top: 30px;
}

.heading-red {
	color: red;
}
.heading-brown {
	color: brown;
}

.js-hilsen-list {
	height: 150px;
	padding: 30px 0px;
	li {
		padding-left: 0;
	}
}
