---
layout: default
---

<div class="home">
	{% include introduction.html %}

  {{ content }}

	<br>
	<h3>Blog:</h3>
	{% if site.categories.blogs.size > 0 %}
		<ul>
			{% for blog in site.categories.blogs %}
			  <li>
					<a class="blue-highlight" href="{{ blog.url | relative_url }}">{{ blog.title | escape }}</a>
				</li>
			{% endfor %}
		</ul>
	{% endif %}
	<h3>WordPress kursus:</h3>
  {% if site.categories.wordpress.size > 0 %}
    <ul>
      {% for post in site.categories.wordpress %}
        <li>
          {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
					<a class="blue-highlight" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          <!-- <span class="post-meta">{{ post.date | date: date_format }}</span> -->
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
